.spots-scenes-items{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.spots-scenes-item{
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,.5);
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    i{
        position: absolute;
        left: 100%;
        top: 100%;
        overflow: hidden;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-left: 0;
        border-bottom: 0;
        border-right-color: rgba(255,255,255,.8);
        margin: -30px 0 0 -30px;
        cursor: se-resize;
    }
}
