.uploader-section
    margin-left: 20px
    margin-bottom: 30px
    border-bottom: 1px solid #ECECEC
    h4
      margin-bottom: 10px
      
.picture-uploader
    margin 0 5%
    .anticon-upload
        position relative !important
        width auto !important
        height auto !important
        line-height 1.5 !important
        

